.body {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.search {
  margin: 0 auto;
  display: block;
}

.search-btn:hover {
  cursor: pointer;
}

.map {
  max-width: 500px;
  max-height: 500px;
}
